# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# OS X
.DS_STORE

# TypeScript
typings
test

# JetBrains
.idea
.awcache
